@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #42a7a1;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 300px;
  height: 220px;
  background: #fff;
  box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 15%);
}

.header {
  height: 26%;
  background: rgb(240, 81, 160);
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
}

.title,
.amount {
  font-size: 15px;
  font-weight: 600;
}

.week,
.rev {
  font-size: 12px;
  font-weight: bold;
}

.vp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18%;
  font-size: 10px;
  padding-right: 10px;
}

.bar,
.red,
.blue {
  width: 10px;
  height: 3px;
  border-radius: 2px;
  padding-right: 15px;
}
.views,
.purchase {
  padding: 0 15px 0 5px;
}
.red {
  background: #fa7373;
}
.blue {
  background: #7ba2ff;
}

.svg {
  height: 43%;
}

.line {
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  position: relative;
  top: 5px;
}
.two {
  top: 45px;
}
.three {
  top: 85px;
}

.data {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  position: absolute;
  left: 17px;
}

.redline svg polyline {
  stroke: #fa7373;
}

.blueline svg polyline {
  stroke: #7ba2ff;
}

.data [class^="point-"] {
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.data.redline [class^="point-"] {
  background: #fa7373;
  z-index: 10;
}
.redline .point-1 {
  top: 42px;
  left: 8px;
}
.redline .point-2 {
  top: 10px;
  left: 47px;
}
.redline .point-3 {
  top: 20px;
  left: 86px;
}
.redline .point-4 {
  top: 8px;
  left: 127px;
}
.redline .point-5 {
  top: 35px;
  left: 168px;
}
.redline .point-6 {
  top: 45px;
  left: 208px;
}
.redline .point-7 {
  top: 15px;
  left: 249px;
}

.data.blueline [class^="point-"] {
  background: #7ba2ff;
}
.blueline .point-1 {
  top: 58px;
  left: 8px;
}
.blueline .point-2 {
  top: 48px;
  left: 47px;
}
.blueline .point-3 {
  top: 62px;
  left: 86px;
}
.blueline .point-4 {
  top: 52px;
  left: 127px;
}
.blueline .point-5 {
  top: 58px;
  left: 168px;
}
.blueline .point-6 {
  top: 71px;
  left: 208px;
}
.blueline .point-7 {
  top: 61px;
  left: 249px;
}

.tooltip {
  position: absolute;
  bottom: 8px;
  left: -140%;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  opacity: 0;
  z-index: 11;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}
.redline .tooltip {
  background: #fa7373;
}
.blueline .tooltip {
  background: #7ba2ff;
}
[class^="point-"]:hover .tooltip {
  transform: translate3d(0, -5px, 0);
  opacity: 1;
}
.tooltip::after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
}
.redline .tooltip::after {
  background: #fa7373;
}
.blueline .tooltip::after {
  background: #7ba2ff;
}
.footer {
  position: relative;
  top: 90px;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: rgb(138, 143, 141);
  justify-content: space-evenly;
}
