@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #e56262;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  left: -60px;
  animation: circle1 4s ease-in-out infinite alternate;
}

@keyframes circle1 {
  0%,
  10% {
    box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
    transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
    transform: scale(1);
  }
}

.two {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: -40px;
  background: #fff;
  animation: circle2 4s ease-in-out infinite alternate;
}

@keyframes circle2 {
  0%,
  40% {
    box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
    transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
    transform: scale(1);
  }
}

.three {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -20px;
  animation: circle3 4s ease-in-out infinite alternate;
}

@keyframes circle3 {
  0%,
  70% {
    box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 20%);
    transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
    transform: scale(1);
  }
}
