@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
:root {
  --animduration: 1s;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #3faf82;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lines {
  width: 86px;
  height: 60px;
  cursor: pointer;
  position: relative;
}

.bar {
  width: 86px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  display: block;
  animation-fill-mode: forwards;
}

.one {
  top: 5px;
}
.two {
  top: 25px;
}
.three {
  top: 45px;
}

.cross .one {
  animation-name: cross1;
  animation-duration: var(--animduration);
}
@keyframes cross1 {
  0% {
    top: 5px;
  }
  50% {
    top: 25px;
    transform: rotate(0deg);
  }
  100% {
    top: 25px;
    transform: rotate(405deg);
  }
}
.reverse .one {
  animation-name: rev1;
  animation-duration: var(--animduration);
}
@keyframes rev1 {
  0% {
    top: 25px;
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(0deg);
    top: 25px;
  }
  100% {
    transform: rotate(0deg);
    top: 5px;
  }
}

.cross .two {
  animation-name: cross2;
  animation-duration: var(--animduration);
}
@keyframes cross2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.reverse .two {
  animation-name: rev2;
  animation-duration: var(--animduration);
}
@keyframes rev2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cross .three {
  animation-name: cross3;
  animation-duration: var(--animduration);
}
@keyframes cross3 {
  0% {
    top: 45px;
  }
  50% {
    top: 25px;
    transform: rotate(0deg);
  }
  100% {
    top: 25px;
    transform: rotate(-405deg);
  }
}
.reverse .three {
  animation-name: rev3;
  animation-duration: var(--animduration);
}
@keyframes rev3 {
  0% {
    transform: rotate(-405deg);
    top: 25px;
  }
  50% {
    transform: rotate(0deg);
    top: 25px;
  }
  100% {
    transform: rotate(0deg);
    top: 45px;
  }
}
